body {
    font: 16px/1.2 'Poppins',sans-serif;
    background: #fefeff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #45454a;
    min-width: 320px;
    max-width: 2500px;
    margin: 0 auto;
    width: 100%;
}
.apply-visit-request {
    padding: 90px 0;
}
.apply-visit-request .avr-col__cta {
    margin-top: auto;
}
.apply-visit-request .avr-col__cta a, .campus-map .link-holder a, .category-listing .load-more a, .countdown__cta a, .faculty-staff__link a, .form-base .wpcf7-submit, .graduate-study__button-link a, .h-tabs-module .ha-content-btn a, .program-block .pb-cta a, .related-events .link-holder a, .related-news .link-holder a, .schools-colleges__cta a, .services-resources .sr-cta a, .tickets__cta a, .whats-happening .top-section__buttons a, .wrapper .gform_wrapper .gform_footer .gform_button {
    padding: 17px 20px;
    display: inline-block;
    border: 1px solid #330072;
    text-transform: uppercase;
    color: #330072;
    font: 700 16px/1.2 'Bitter',sans-serif;
    -webkit-transition: color .2s,background-color .2s;
    -o-transition: color .2s,background-color .2s;
    transition: color .2s,background-color .2s;
    text-align: center;
}
a {
    text-decoration: none !important;
    background: 0 0;
}

.apply-visit-request .avr-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.apply-visit-request .avr-col__title {
    font: 700 30px 'Bitter',Serif;
    margin-bottom: 10px;
    color: #330072;
}

.apply-visit-request .avr-col__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.page-frame, .wrapper .gform_wrapper form, body.search .site-content, body[class*=error] .frame[role=main], div.mapsvg-controller-view div.mapsvg-controller-view-toolbar, div.mapsvg-controller-view-content {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    width: 100%;
}

.apply-visit-request .avr-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}


.apply-visit-request {
    padding: 45px 0;
    }
    .page-frame, .wrapper .gform_wrapper form, .wysiwyg-frame, body.search .site-content, body[class*=error] .frame[role=main], div.mapsvg-controller-view div.mapsvg-controller-view-toolbar, div.mapsvg-controller-view-content {
    padding: 0 20px;
}
    .apply-visit-request .avr-col {
    margin-bottom: 35px;
}
    .apply-visit-request .avr-col {
    -ms-flex-preferred-size: calc(100%/3 - 60px);
    flex-basis: calc(100%/3 - 60px);
    max-width: calc(100%/3 - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 28px;
}

.apply-visit-request .avr-col__cta a:hover, .campus-map .link-holder a:hover, .category-listing .load-more a:hover, .countdown__cta a:hover, .faculty-staff__link a:hover, .form-base .wpcf7-submit:hover, .graduate-study__button-link a:hover, .h-tabs-module .ha-content-btn a:hover, .hero-bottom .call-outs .post__link a:hover, .program-block .pb-cta a:hover, .related-events .link-holder a:hover, .related-news .link-holder a:hover, .schools-colleges__cta a:hover, .services-resources .sr-cta a:hover, .tickets__cta a:hover, .whats-happening .top-section__buttons a:hover, .wrapper .gform_wrapper .gform_footer .gform_button:hover {
    background: #330072;
    color: #fff;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

